body
{
  background-image: url(../assets/back2.png);
  background-size: cover;
  background-position: center;
  height: 80vh;

}
.page-wrap {
    min-height: 100vh;
}
.container {
    max-width: 900px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    color:white;

}
