@media screen and (max-width: 768px) {
  .plans
  {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  
  .developers
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    height: 230vh;
  }
  
  #divWebDev
  {
    padding: 5px;
  }
  
  
  #inputSearch
  {
    height: 50px;
    width: 300px;
  }

  .logoprincipal
  {
    padding: 0;
    width: 80%;
  }
}