body{
    font-family: Arial, Helvetica, sans-serif;
<<<<<<< Updated upstream
    background-image: url(./images/backgroundform.jfif)
=======
    background-image: url(./images/backgroundform.jfif);
>>>>>>> Stashed changes
}
.box{
    color: white;
    /* position:sticky; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */

    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
fieldset{
    border: 3px solid #bd0909;
}
legend{
    border: 1px solid #bd0909;
    padding: 15px;
    text-align: center;
    background-color: #bd0909;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: rgb(255, 109, 30);
}

#submit{
    /* background-image: linear-gradient(to right,rgb(250, 7, 7), rgb(220, 20, 73)); */
    /* background-color: #bd0909; */
    width: 100%;
    margin-top: 35px;
    /* border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px; */
}

/* #submit:hover{
    background-color: #bd0909;
    /* background-image: linear-gradient(to right,rgb(181, 55, 55), rgb(220, 100, 20)); */
<<<<<<< Updated upstream
 
=======
/* }  */
>>>>>>> Stashed changes

#socorr{
    color: #bd0909;
}