header
{
  background-color: #bd0909;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 999;
  
}

#carouselContainer{
  display: block;
  width: 100%;
  height: 620px;
  overflow: hidden;

}

#carouselContainer img{
  width: 80%;
}

.imgscared {
  width: 100%;
}
.imgscared img{

  width: fit-content;
}

.logoprincipal {
  padding: 2em;
  width: 50%;
}

.navContainer
{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;

}

.sign, .login
{
  border: 1.5px solid white;
  border-radius: 7px;
  padding: 10px;
  font-size: 20px;
}